@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark { 
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-[#1a1a1e]; /* Dark blue-gray, closer to black */
  @apply text-black/50 dark:text-white/75;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-stone-100/75 dark:bg-stone-900/25;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }

  .hover-box {
    @apply relative px-2 py-1 rounded transition-all duration-300 ease-in-out;
  }

  .hover-box:hover {
    @apply bg-gray-200 dark:bg-gray-700 shadow-md;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

/* Logo container styles */
.logo-container {
  position: relative;
  width: 100px; /* Adjust based on your mask size */
  height: 70px; /* Adjust based on your mask size */
  margin: 0 auto;
}

/* Mask styles */
.mask {
  /* position: relative; */
  width: 50%;
  height: 114%;
  display: block;
}

/* Flame styles */
.flame {
  position: absolute;
  width: 30px; /* Adjust based on flame size */
  height: 30px; /* Adjust based on flame size */
  pointer-events: none; /* Prevent flames from interfering with mouse events */
  transition: transform 0.1s ease-out;
}

.flame-left {
  top: 45px; /* Adjust to position over the left eye */
  left: 10px; /* Adjust to position over the left eye */
}

.flame-right {
  top: 45px; /* Adjust to position over the right eye */
  left: 36px; /* Adjust to position over the right eye */
}