* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.game-content {
    transform: scale(0.8); /* Adjust the scale as needed */
    transform-origin: top left; /* Ensure the scaling starts from the top left */
}
